.content {
  max-width: 400px;
  display: flex;
  flex-direction: column;
}

.videos {
  margin-top: 20px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(197px, 1fr));
  grid-gap: 15px !important;
  margin-bottom: 20px;
}
