.item {
  text-decoration: none;
}

.item_photo {
  border-radius: 3px;
  width: 100%;
  padding-bottom: 70%;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.item_title {
  margin-top: 5px;
  color: #fff;
  font-size: 14px;
}
